ul.asTree {
    list-style-type:none;
    padding:0;
    margin:0;
    text-indent:1em;
}
ul.asTree ul{
    display:none;
    list-style-type:none;
}

ul.asTree li{/*lets us position the label's ::before*/
    position:relative;
}

ul.asTree label{
    cursor:pointer;
}
ul.asTree label:hover{
    box-shadow: 0 0 5px 0 rgba(128,155,200,0.5) inset;
}
ul.asTree label::before{
    content:"\25B7";
    position:absolute;
    left:-1em;
    top:-2px;
}
ul.asTree input:checked + label::before{
    content:"\25E2";
}

ul.asTree input:checked + label + ul{
    display:block;
}
